.first-row ,.second-row{
    display: flex;
}
.second-row{
    margin-top: 20px;
}
.add-modify-content{
    padding: 20px;
}
.add-modify-employee .MuiCard-root{
    margin: 20px;
}
.first-row .MuiTextField-root .MuiInputBase-formControl ,.second-row .MuiTextField-root .MuiInputBase-formControl{
    margin: 10px;
}
.save-btn ,.back-btn{
    border-radius: 5px;
    width: 100px;
    height: 50px;
    background: lightblue;
    float: right;  
    margin: 20px;
}
.add-btn{
    border-radius: 5px;
    width: 100px;
    height: 50px;
    background: lightblue;
}
.Employee-table{
    margin: 20px;
}
.add-button-div{
    float: right;
    margin: 20px;
}